<app-header></app-header>
<section class="bgdarkGrey">
    <div class="container-fluid">
        <div class="quickLinks inlineBlock ">
            <div class=" floatL txtWhite txtSize15">
                <a href="#" class=""> Dashboard</a>
                <a href="#" class=" pad-30-left"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                    <div class="vSpacer5 inlineBlock"></div>
                    New
                    Submission
                </a>
            </div>
            <div class="floatR txtWhite"><a href=#><i class="fa fa-link pad-10-right" aria-hidden="true"></i><span></span>Quick
                    Links</a></div>
            <div class="clear"></div>
        </div>
    </div>

</section>
<app-ag-grid></app-ag-grid>